@using Microsoft.AspNet.Identity
@using System.Security.Principal
@model RecordOil.Models.Zayavka
<html>
<head>

    <script language="JavaScript">
        var registrationList = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.NeftList)));
        var u = 1;
        function addR() {
            u = u + 1;
            var strSelectList = "<option value=\"Выберите нефтепродукт\">Выберите нефтепродукт</option>";
            for (var i = 0; i < registrationList.length; i++)
            {
                strSelectList = strSelectList + " + " + "<option value=" + registrationList[i].Text + ">" + registrationList[i].Text + "</option > "
            }

            var nodet = document.createElement('tr');
            var node1 = document.createElement('td');
            var node2 = document.createElement('td');
            var node3 = document.createElement('td');
            var node4 = document.createElement('td');
            var node5 = document.createElement('td');
            var node6 = document.createElement('td');
            var node7 = document.createElement('td');
            var node8 = document.createElement('td');
            var node9 = document.createElement('td');
            var node10 = document.createElement('td');
            var node11 = document.createElement('td');

            node1.innerHTML = "";
            node2.innerHTML = "<input type='text' class=\"form-control btn-block\" id=\"Numer_" + u +"\" style=\"width: 100px;\" value =" + u +">";
            node3.innerHTML = "";

            node5.innerHTML = "";
            node6.innerHTML = "<input type=\"text\" class=\"form-control btn-block\" id=\"Massa_" + u +"\" style=\"width: 150px;\" onkeyup=\"this.value = this.value.replace(/[^(0-9)(,)]/, '');\">";
            node7.innerHTML = "";
            node8.innerHTML = "<input type=\"text\" class=\"form-control btn-block\" id=\"Plan_" + u +"\" style=\"width: 150px;\" />";
            node9.innerHTML = "";
            node10.innerHTML = "<input type=\"text\" class=\"form-control btn-block\" id=\"Prich_" + u +"\" style=\"width: 150px;\" />";
            node11.innerHTML = "";
            document.getElementById('tab2').appendChild(nodet);
            nodet.appendChild(node1);
            nodet.appendChild(node2);
            nodet.appendChild(node3);
            nodet.appendChild(node4);
            nodet.appendChild(node5);
            nodet.appendChild(node6);
            nodet.appendChild(node7);
            nodet.appendChild(node8);
            nodet.appendChild(node9);
            nodet.appendChild(node10);
            nodet.appendChild(node11);

            var sel = document.createElement('select');
            sel.className = 'form-control btn-block';
            sel.id = "NeftZay_" + u;
            sel.innerHTML = strSelectList;
            node4.appendChild(sel);
            nodet.appendChild(node12);

        }
    </script>

</head>
<body>
    <div id="ServicesModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" id='ServicesModalContent3'>

            </div>
        </div>
    </div>

    <div id="ServicesModalDelete3" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" id='ServicesModalDeleteContent3'>

            </div>
        </div>
    </div>

    <div class="modal-header" style="text-align: center;background-color: #D0EDFE; border-radius:5px;">
        <h5> Добавление заявки нефтепродукта </h5>
    </div>

    <div class="modal-body">

        <input type="hidden" class="form-control btn-block" id="UserZayModof" value="@User.Identity.GetUserName()" />
        <input type="hidden" class="form-control btn-block" id="DateZayModif" value="@DateTime.Now" />

        <center>
            <table style="width:900px;">
                <tr style="margin:10px;">
                    <td colspan="2">
                        <center><label>Номер заявки</label></center>
                    </td>
                    
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <label>Дата заявки</label>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>

                    <td>
                        <label>Планируема дата</label>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>

                </tr>
                <tr>
                    <td>
                        <input type="text" readonly class="form-control btn-block" id="Pref" style="width:100px;" value="@ViewBag.IDFF"/>
                        
                    </td>
                    
                    <td>
                        <input type="text" class="form-control btn-block" id="NumberZay" style="width:50px;" value="@ViewBag.SCH"/>                        
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <input type="date" class="form-control btn-block" id="DateZay" style="width:150px;" />
                        <script>
                            var datp = document.getElementById("PoZ").value;
                            document.getElementById("DateZay").value = datp;
                        </script>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>

                    <td>
                        <input type="month" class="form-control btn-block" id="DatePlan" style="width:150px;" />

                        <script>
                            var D = new Date(document.getElementById("PoZ").value);
                            D.setMonth(D.getMonth() + 1);
                            var D1 = new Date(document.getElementById("SZM").value);
                            var D2 = new Date(document.getElementById("PoZM").value);
                            var month = D.getMonth() + 1; if (month < 10) month = '0' + month;
                            var year = D.getFullYear();

                            var Dat = new Date(year + "-" + month + "-01");

                            if (document.getElementById("SZM").value == document.getElementById("PoZM").value) {
                                document.getElementById("DatePlan").value = document.getElementById("PoZM").value;
                            }
                            else {
                                if (Dat >= D1 & Dat <= D2) {
                                    document.getElementById("DatePlan").value = year + "-" + month;
                                    //document.getElementById("DatePlan").value = document.getElementById("SZM").value;
                                }
                                else {
                                    document.getElementById("DatePlan").value = "";
                                }
                            }
                            console.log("D= " + D);
                            console.log("D1= " + D1);
                            console.log("D2= " + D2);
                            console.log("DDDDD= " + '"' + month + "-" + year + '"');
                            console.log("document.getElementById(" + SZM + ").value= " + document.getElementById("SZM").value);
                        </script>

                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <button id="butt1" type="button" class="btn btn-icon waves-effect waves-light btn-info" onclick="LetRes()"> <i class="mdi mdi-settings"></i>Заполнить заявку</button>
                    </td>
                    <td>
                        <label>&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <button id="butt1" type="button" class="btn btn-icon waves-effect waves-light btn-info" onclick="ZaySaveZero()"> <i class="mdi mdi-settings"></i>Н/П не требуются</button>
                    </td>

                </tr>
            </table>
        </center>
        <hr>

        @*-------------------------------Заполнение списка --------------------------------------------*@
        <div id="ListRez">

        </div>
        <div id=" LetZayOst">
            <hr>

        </div>
        @*--------------------------------------------------------------------------------------------------------*@

        @*<center>
                    <table style="width:900px;" id="tab2">
                        <tr>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label>№ п/п</label>
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label>Нефтепродукт</label>
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label>Масса</label>
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label>Планируемые работы</label>
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label>Примечание</label>
                            </td>

                        </tr>
                        <tr class="tabbb">
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input type="text" readonly class="form-control btn-block" id="Numer_1" style="width:100px;" value="1" />
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                @Html.DropDownList("Naimenovanie", ViewBag.NeftList as SelectList, "Выберите нефтепродукт", new { @class = "form-control btn-block", id = "NeftZay_1" })
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input type="text" class="form-control btn-block"  id="Massa_1" style="width:150px;" onkeyup="this.value = this.value.replace(/[^(0-9)(,)]/,'');">
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input type="text" class="form-control btn-block" id="Plan_1" style="width:150px;" />
                            </td>
                            <td>
                                <label>&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input type="text" class="form-control btn-block" id="Prich_1" style="width:150px;" />
                            </td>

                        </tr>
                    </table>
                </center>

                <div class="modal-footer" style="text-align:center">
                    <button id="but1" type="button" class="btn btn-icon waves-effect waves-light btn-info" onclick="addR()"> <i class="mdi mdi-settings"></i>Добавить строку</button>

                </div>

            </div>

                <div class="modal-footer" style="text-align:center">
                    <button type="submit" class="btn btn-info" style="min-width:100px" onclick="ZaySave(0)">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px">Отмена</button>
                </div>
                <hr>
        *@
    </div>
</body>
</html>
